.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.drink {
    grid-area: 1/2;
}

.pic {
    text-align: center;
}

.pic img {
    width: 350px;
    height: 350px;
}

ul {
    list-style: none
}

.drink-selector,
.drinks-diary {
    text-align: center;
}
